@using System.Text.Json
@using System.Text.Json.Serialization
@model QuestionnaireEditorBootstrapViewModel

@{
    var questionnaireBootstrapJson = JsonSerializer.Serialize(
        Model,
        new JsonSerializerOptions
        {
            PropertyNamingPolicy = JsonNamingPolicy.CamelCase,
            Converters = { new JsonStringEnumConverter(JsonNamingPolicy.CamelCase) }
        });
}

<section class="questionnaire-editor mt-5" aria-labelledby="questionnaire-heading">
    <h2 id="questionnaire-heading" class="mb-3">Vragenlijst</h2>

    <div id="questionnaire-antiforgery" class="d-none">
        @Html.AntiForgeryToken()
    </div>
    <script id="questionnaire-editor-bootstrap" type="application/json">
        @Html.Raw(questionnaireBootstrapJson)
    </script>

    <div id="questionnaire-editor" v-cloak>
        <div v-if="questionnaire.isLoading" class="questionnaire-editor__empty">
            Vragen worden geladen...
        </div>

        <div v-else>
            <div v-if="questionnaire.errorMessage" class="alert alert-danger" role="alert">
                <p class="mb-0">[[ questionnaire.errorMessage ]]</p>
                <ul v-if="questionnaire.errorDetails.length > 1" class="mb-0 mt-2 ps-3">
                    <li v-for="(error, index) in questionnaire.errorDetails" :key="`questionnaire-error-${index}`">
                        [[ error ]]
                    </li>
                </ul>
            </div>

            <ol v-if="questionnaire.questions.length" class="questionnaire-editor__list">
                <li v-for="(question, index) in questionnaire.questions" :key="question.id" class="questionnaire-editor__card">
                    <div class="questionnaire-editor__card-top">
                        <div class="questionnaire-editor__card-order">
                            <button type="button"
                                    class="btn btn-link btn-sm"
                                    :disabled="!questionnaire.canManageQuestions || questionnaire.isSaving || index === 0"
                                    v-on:click="moveQuestion(index, -1)"
                                    aria-label="Vraag omhoog verplaatsen">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_19_470)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.9399 7.93999C11.2211 7.65909 11.6024 7.50131 11.9999 7.50131C12.3974 7.50131 12.7786 7.65909 13.0599 7.93999L18.7179 13.596C18.8571 13.7353 18.9676 13.9007 19.043 14.0827C19.1183 14.2648 19.1571 14.4598 19.157 14.6568C19.157 14.8538 19.1181 15.0489 19.0427 15.2309C18.9672 15.4129 18.8567 15.5782 18.7174 15.7175C18.578 15.8568 18.4126 15.9672 18.2306 16.0426C18.0486 16.1179 17.8535 16.1567 17.6565 16.1566C17.4595 16.1566 17.2645 16.1177 17.0825 16.0423C16.9005 15.9669 16.7351 15.8563 16.5959 15.717L11.9999 11.122L7.40388 15.718C7.26558 15.8613 7.10011 15.9757 6.91715 16.0544C6.73418 16.1331 6.53737 16.1745 6.3382 16.1764C6.13903 16.1782 5.9415 16.1403 5.75712 16.065C5.57274 15.9897 5.40521 15.8784 5.2643 15.7376C5.1234 15.5968 5.01194 15.4294 4.93643 15.2451C4.86092 15.0608 4.82288 14.8633 4.82451 14.6641C4.82615 14.4649 4.86744 14.2681 4.94596 14.085C5.02449 13.902 5.13868 13.7364 5.28188 13.598L10.9399 7.93999Z" fill="black"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_19_470">
                                    <rect width="24" height="24" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </button>
                            <button type="button"
                                    class="btn btn-link btn-sm"
                                    :disabled="!questionnaire.canManageQuestions || questionnaire.isSaving || index === questionnaire.questions.length - 1"
                                    v-on:click="moveQuestion(index, 1)"
                                    aria-label="Vraag omlaag verplaatsen">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_19_474)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0599 16.06C12.7787 16.3409 12.3974 16.4987 11.9999 16.4987C11.6024 16.4987 11.2212 16.3409 10.9399 16.06L5.2819 10.404C5.00064 10.1226 4.84268 9.74102 4.84277 9.34316C4.84287 8.9453 5.00101 8.56377 5.2824 8.28251C5.56379 8.00125 5.9454 7.84329 6.34325 7.84338C6.74111 7.84348 7.12264 8.00162 7.4039 8.28301L11.9999 12.879L16.5959 8.28301C16.8787 8.00964 17.2575 7.85827 17.6508 7.8615C18.0441 7.86473 18.4204 8.0223 18.6986 8.30028C18.9769 8.57827 19.1348 8.95441 19.1384 9.34771C19.142 9.741 18.991 10.12 18.7179 10.403L13.0609 16.061L13.0599 16.06Z" fill="black"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_19_474">
                                    <rect width="24" height="24" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </button>
                        </div>

                        <div class="questionnaire-editor__card-body">
                            <p class="questionnaire-editor__question-text mb-2">[[ question.text ]]</p>
                            <div class="questionnaire-editor__meta">
                                <span class="badge text-bg-dark">[[ question.typeLabel ]]</span>
                                <span class="badge text-bg-secondary">Punten: [[ scoreLabel(question.score) ]]</span>
                            </div>
                        </div>

                        <div v-if="questionnaire.canManageQuestions" class="questionnaire-editor__card-actions">
                            <button type="button"
                                    class="btn btn-outline-secondary btn-sm"
                                    :disabled="questionnaire.isSaving"
                                    v-on:click="openEditDialog(question)"
                                    aria-label="Vraag wijzigen">
                                Wijzig
                            </button>
                            <button type="button"
                                    class="btn btn-outline-danger btn-sm"
                                    :disabled="questionnaire.isSaving"
                                    v-on:click="deleteQuestion(question.id)"
                                    aria-label="Vraag verwijderen">
                                Verwijder
                            </button>
                        </div>
                    </div>
                </li>
            </ol>

            <div v-else class="questionnaire-editor__empty">
                Er zijn nog geen vragen toegevoegd.
            </div>

            <div v-if="questionnaire.canManageQuestions" class="mt-4">
                <button type="button"
                        class="btn btn-dark"
                        :disabled="questionnaire.isSaving"
                        v-on:click="openCreateDialog">
                    Vraag toevoegen
                </button>
            </div>
        </div>

        <div v-if="dialog.isOpen" class="questionnaire-editor__modal-backdrop" role="presentation">
            <div class="questionnaire-editor__modal" role="dialog" aria-modal="true" aria-labelledby="questionnaire-dialog-title" aria-describedby="questionnaire-dialog-description">
                <div class="questionnaire-editor__modal-header">
                    <h3 id="questionnaire-dialog-title" class="mb-0">[[ dialog.title ]]</h3>
                    <button type="button" class="btn-close" aria-label="Sluiten" v-on:click="closeDialog"></button>
                </div>

                <div class="questionnaire-editor__modal-body">
                    <p id="questionnaire-dialog-description" class="text-muted">
                        Voeg een vraag toe of pas de eigenschappen van een bestaande vraag aan.
                    </p>

                    <div v-if="dialog.errorMessage" class="alert alert-danger" role="alert">
                        <p class="mb-0">[[ dialog.errorMessage ]]</p>
                        <ul v-if="dialog.errorDetails.length > 1" class="mb-0 mt-2 ps-3">
                            <li v-for="(error, index) in dialog.errorDetails" :key="`dialog-error-${index}`">
                                [[ error ]]
                            </li>
                        </ul>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="questionnaire-text">Vraag</label>
                        <input id="questionnaire-text" v-model="dialog.form.text" type="text" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="questionnaire-score">Score</label>
                        <input id="questionnaire-score" v-model="dialog.form.score" type="number" min="0" class="form-control" placeholder="Optioneel" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="questionnaire-type">Vraagtype</label>
                        <select id="questionnaire-type"
                                v-model="dialog.form.type"
                                class="form-select"
                                :disabled="dialog.mode === 'edit'"
                                :aria-describedby="dialog.mode === 'edit' ? 'questionnaire-type-help' : null">
                            <option :value="questionTypes.choice">Keuzevraag</option>
                            <option :value="questionTypes.text">Tekstvraag</option>
                            <option :value="questionTypes.numeric">Numerieke vraag</option>
                        </select>
                        <p v-if="dialog.mode === 'edit'" id="questionnaire-type-help" class="form-text mb-0">
                            Het vraagtype kan na het aanmaken niet meer worden gewijzigd.
                        </p>
                    </div>

                    <div v-if="dialog.form.type === questionTypes.choice" class="mb-3">
                        <div class="form-check mb-3">
                            <input id="questionnaire-multiple" v-model="dialog.form.allowMultipleSelection" class="form-check-input" type="checkbox" />
                            <label class="form-check-label" for="questionnaire-multiple">Meerdere antwoorden toestaan</label>
                        </div>

                        <h4 class="h6">Opties</h4>
                        <div v-for="(option, index) in dialog.form.options" :key="`${index}-${option.id || 'new'}`" class="questionnaire-editor__option-row">
                            <div class="d-flex gap-2 align-items-start">
                                <input v-model="option.text" type="text" class="form-control" :placeholder="`Optie ${index + 1}`" />
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-secondary btn-sm" :disabled="index === 0" v-on:click="moveOption(index, -1)" :aria-label="`Optie ${index + 1} omhoog verplaatsen`">&uarr;</button>
                                    <button type="button" class="btn btn-outline-secondary btn-sm" :disabled="index === dialog.form.options.length - 1" v-on:click="moveOption(index, 1)" :aria-label="`Optie ${index + 1} omlaag verplaatsen`">&darr;</button>
                                    <button type="button" class="btn btn-outline-danger btn-sm" :disabled="dialog.form.options.length <= 1" v-on:click="removeOption(index)" :aria-label="`Optie ${index + 1} verwijderen`">&times;</button>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-outline-dark btn-sm mt-2" v-on:click="addOption">
                            Optie toevoegen
                        </button>
                    </div>

                    <div v-else-if="dialog.form.type === questionTypes.text" class="row">
                        <div class="col-sm-6 mb-3">
                            <label class="form-label" for="questionnaire-rows">Aantal regels</label>
                            <input id="questionnaire-rows" v-model="dialog.form.rows" type="number" min="1" class="form-control" />
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label class="form-label" for="questionnaire-max-length">Maximaal aantal tekens</label>
                            <input id="questionnaire-max-length" v-model="dialog.form.maxLength" type="number" min="1" class="form-control" placeholder="Optioneel" />
                        </div>
                    </div>

                    <div v-else class="row">
                        <div class="col-sm-6 mb-3">
                            <label class="form-label" for="questionnaire-min-value">Minimumwaarde</label>
                            <input id="questionnaire-min-value" v-model="dialog.form.minValue" type="number" step="any" class="form-control" placeholder="Optioneel" />
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label class="form-label" for="questionnaire-max-value">Maximumwaarde</label>
                            <input id="questionnaire-max-value" v-model="dialog.form.maxValue" type="number" step="any" class="form-control" placeholder="Optioneel" />
                        </div>
                    </div>
                </div>

                <div class="questionnaire-editor__modal-footer">
                    <button type="button" class="btn btn-outline-secondary" :disabled="questionnaire.isSaving" v-on:click="closeDialog">Annuleren</button>
                    <button type="button" class="btn btn-dark" :disabled="questionnaire.isSaving" v-on:click="submitDialog">
                        [[ questionnaire.isSaving ? 'Opslaan...' : dialog.submitLabel ]]
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
